* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: MonumentExtended;
  src: url(../MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
}
body {
  color: #fff;
  background: #161616;
  overflow: hidden;
}

.block {
  position: relative;
  width: 580px;
  height: 460px;
  margin: 10px 300px 20px 80px;
}
h1 {
  position: absolute;
  font-family: "MonumentExtended";
  font-weight: lighter;
}
.block-1 {
  background: url(../images/img-one.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.block-2 {
  background: url(../images/img-two.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.block-3 {
  background: url(../images/img-three.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.block-4 {
  background: url(../images/img-four.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.block-5 {
  background: url(../images/img-five.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.container {
  margin-top: 200px;
  margin-left: 200px;
}
.block-1 h1,
.block-3 h1,
.block-5 h1 {
  bottom: 0;
  right: -60px;
}

.block-2 h1,
.block-4 h1 {
  right: -60px;
}
